body{
  margin: 5px;
  padding: 0;
  background: url(https://www.itl.cat/pngfile/big/99-992191_wallpaper-linear-gradient-green-blue-spring-green-dark.jpg) no-repeat;
  background-size: cover;
}
/* header styling starts here */
ul
{
  float: right;
  list-style-type: none;
    margin-top: 15px;
}
ul li
{
  display: inline-block;
}
ul li a
{
 text-decoration: none;
 color:#fff ;
 padding: 5px 20px;
 border:1px solid transparent ;
 transition: 0.6s ease;
}
ul li a:hover
{
background-color:#fff;
color:#000 ;  
}

.logo img
{
  float:left;
  width:150px;
  height:auto;

}

.main
{
  max-width:1400px;
  margin: auto;
}

/* header styling ends here */

.box{
    border-radius: 25px;
    border: 2px ;
    background-position: left top; 
    position: absolute;
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-left: 30%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}

.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}


